@import './bootstrap';
@import './bootstrap_icons';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body {
    margin: 0;
}

.header {
    * {
        display: inline;
    }
}

.info_bulle {
font-size: 25px;
cursor: help;
}

.icon {
width: 1em;
height: 1em;
}

div.plotly-notifier {
    visibility: hidden;
}